{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="container">
			<div class="header">
				{% if todoitem_list and user.is_anonymous == False %}
              <h1 style="" class="text-center my-4">Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
            </div>

			<div class="row d-flex justify-content-center" style="width: 30%;">

					<table class="table table-bordered table-condensed text-center">
						<thead style="background-color: black;color: white;font-size: 20px;">
							<tr>
								<th class="col-5">My Tasks</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!-- TASK -->
								{% if todoitem_list %}
									<td>
										{% for todoitem in todoitem_list %}
										<li class="list-group-item">
											<a href="{% url 'todolist:viewtodoitem' todoitem.id %}" class="text-decoration-none">
												{{ todoitem.task_name }}
											</a>
										</li>
										{% endfor %}
									</td>
								{% else %}
									<td>
										<p class="text-center my-3">No tasks have been created.</p>
									</td>
								{% endif %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	
	{% elif user.is_anonymous == True %}
		<h1 class="text-center my-3">You are not authorized to access this page</h1>
		<p class="text-center">Kindly login<a href="{% url 'todolist:login' %}">here</a></p>

	{% else %}
		<p class="text-center">No tasks have been created.</p>

	{% endif %}
{% endblock %}